.modal {
  position: absolute;
}

.modal__image {
  max-width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal__close-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.modal__close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal__caption {
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.modal__subtitle {
  padding-left: 28px;
}

.modal__footer {
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 32px;
  margin-left: 32px;
}

/* New: make modal content flex so delete button can align right */
.modal__content {
  display: flex;
  flex-direction: column;
}

.modal__delete {
  font-family: "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  align-self: flex-end;
  margin: 16px 32px 32px 0; /* top right bottom left */
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  color: #ff4d00;
  max-width: 98.12px;
  height: 13.62px;
  bottom: 137px;
}
