.modal__switch {
  font-family:
    "Cabinet Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  opacity: 0.5;
}

.modal__switch:hover {
  opacity: 1;
}

.modal_type_register .modal__submit {
  margin-top: -40px;
}
